div{
    align-content: center;
    background-color: rgb(12, 10, 10);
}

h1 {
    text-align: center;
    background-color: rgb(12, 10, 10);
    font-weight: bold;
    align-self: center;
    color: lightgray;
    font-family: 'Staatliches', cursive;
}

body{
    background-color: rgb(12, 10, 10);
}

.texto{
    background-color: rgb(12, 10, 10);
    color: lightgray;
    font-size: small;
}

h4 {
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: lightgray;
    background-color: rgb(12, 10, 10);
    font-weight: 300;
}
p {
    text-align: center;
}

a {
    color: gold;
    
}

#neg{
    color: white;
}

#gris{
    color: lightgray;
}

#turq{
    color: cyan;
}

#ama{
    color: yellow;
}

#verde{
    color: greenyellow;
}

#naranja{
    color: orange;
}

#azul{
    color: blue;
}

#rojo{
    color: red;
}

#v{
    color: green;
}

#c{
    color: brown;
}

#m{
    color: purple;
}

#r{
    color: pink;
}

ul{
    font-size: small;
}